@page "/CustomValidation"
<h3>CustomValidation</h3>
<p>This component does not accept the following tags: @(String.Join(",", _notAllowedTags))</p>
<InputTags Value="Tags" Options="_options" />



@code {
    public List<string> Tags { get; set; } = new();
    private InputTagOptions _options;
    private List<string> _notAllowedTags = new()
    {
        "Cat",
        "Horse",
        "Dolphin"
    };

    public CustomValidation()
    {
        _options = new()
        {
            ValidateTag = ValidateTagAsync
        };
    }

    private Task<bool> ValidateTagAsync(string tag)
    {
        bool result = !_notAllowedTags.Any(x => x.Equals(tag, StringComparison.OrdinalIgnoreCase));
        return Task.FromResult(result);
    }
}
