.blazor-tag-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.blazor-tag-input-wrapper {
    background-color: var(--blazor-tag-input-wrapper-background-color);
    border: var(--blazor-tag-input-wrapper-border);
    border-radius: var(--blazor-tag-input-wrapper-border-radius);
}

.blazor-tag-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.blazor-tag {
    display: inline-flex;
    background-color: var(--blazor-tag-item-background-color);
    padding: var(--blazor-tag-item-padding);
    margin: var(--blazor-tag-item-margin);
    border-radius: var(--blazor-tag-item-border-radius);
    white-space: nowrap;
    color: var(--blazor-tag-item-color);
    align-items: center;
}

    .blazor-tag button {
        font: inherit;
        margin: 0;
        font-size: 1.5rem;
        margin-left: 6px;
        margin-right: -6px;
        background-color: var(--blazor-tag-item-background-color);
        border-radius: var(--blazor-tag-item-button-border-radius);
        border: 2px solid transparent;
        outline: none;
    }

        .blazor-tag button::after {
            display: inline-block;
            content: "\00d7";
        }

        .blazor-tag button:focus {
            border-color: var(--blazor-tag-item-button-focus-border-color);
        }

.blazor-tag-input {
    font: inherit;
    padding: var(--blazor-tag-input-padding);
    border-radius: var(--blazor-tag-input-border-radius);
    border: none;
    outline: none;
    flex: 1;
    display: flex;
}

.blazor-tag-active {
    font-weight: bold;
}

.blazor-tag-selected {
    outline: var(--blazor-tag-selected-outline, 1px solid #4b4b4b);
    background-color: var(--blazor-tag-selected-background-color, #efefef);
}

.blazor-tag-results {
    list-style: none;
    padding: var(--blazor-tag-results-padding);
    background-color: var(--blazor-tag-results-background-color);
    position: absolute;
    z-index: 9999;
    top: calc(100% + .5rem);
    border: var(--blazor-tag-results-border);
    border-radius: var(--blazor-tag-results-border-radius);
    left: 0;
    max-width: 100%;
}

    .blazor-tag-results.hidden {
        display: none;
    }


    .blazor-tag-results li {
        cursor: pointer;
        padding: .5rem;
        border-radius: var(--blazor-tag-results-item-border-radius);
    }

        .blazor-tag-results li:hover {
            background-color: var(--blazor-tag-results-item-hover-background-color);
        }
