@page "/"
<PageTitle>BlazorWebAssemblyDemo</PageTitle>

<h3>Basic usage</h3>
<InputTags Value="Tags" />

@code {
    public List<string> Tags { get; set; } = new()
    {
        "Hello",
        "World"
    };
}